.collection-wrapper {
  height: 100%;
  display: flex;

  > div:not(:first-child) {
    margin-left: 25px;
  }

  .collection {
    width: 300px;
    margin-bottom: 10px;

    display: flex;
    flex-direction: column;

    header {

      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      h3 {
        margin-bottom: 1px;
      }
    }
  }
}