@import "../variables";

.terminal-container {
  height: #{$terminal-container-height};
  display: flex;

  textarea {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    resize: none;
    border-right: 0;
  }

  button {
    height: 100%;
    margin: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
}