@font-face {
  font-family: "Proggy Vector";
  font-style: normal;
  font-weight: normal;
  src: url('../static/font/proggy-vector.woff') format('woff');
}

@font-face {
  font-family: "Glass TTY";
  font-style: normal;
  font-weight: normal;
  src: url('../static/font/glass_TTY_VT220.woff') format('woff');
}

