$title-bar-height: 2em;
$tab-bar-height: 2.5em;

$title-bar-background: #373737;

$main-container-padding: 10px;
$terminal-container-height: 65px;
$notification-container-height: 35px;
$tab-bar-container-height: 35px;

$document-toolbar-color: #541b58;

$button-success: #3eaf66;
$button-error: #7a7a7a;
