.text-center {
  text-align: center;
}

.d-none {
  display: none !important;
}

ul.styled {
  list-style: none;

  li {
    padding: 5px 10px;
    margin: 0;

    &.selected {
      background: rgb(195, 76, 184);
      color: #fff
    }

    &:hover {
      background: $color-primary;
      color: #fff;
      cursor: pointer;
    }
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0px, 0);
  }
}

.animate-fade-in-up {
  animation-name: fadeInUp;
  animation-duration: 500ms;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(50px, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0px, 0);
  }
}

.animate-fade-in-right {
  animation-name: fadeInRight;
  animation-duration: 300ms;
}